<div class="container" style="margin-top: 20px">

  <h3>Product Details</h3><br>
  <!--
  <div *ngFor = "let t of productfetch$ | async" class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ t.imageUrl }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ t.title }}</h5>
      <p class="card-text">₹ {{ t.price }}</p>
      <p class="card-text">{{ t.description }}</p>
    </div>
  </div>
  <br><br>
  <button class="btn btn-primary" (click)=back()>Back</button><br><br>
  -->
  

  <div *ngFor = "let t of productfetch$ | async">
    <img src="{{ t.imageUrl }}" alt="Card image cap" style="max-height: 700px; max-width: 300px;"><br><br>
    <div>
      <h2>{{ t.title }}</h2>
      <h3>₹ {{ t.price }}</h3>
      <br><br>
      <h4>About</h4>
      <p>{{ t.description }}</p>
    </div>
    <button  *ngIf="auth.user$ | async; else anonymousUser" class="btn btn-primary" (click)=buyfunction(t.title,t.price,t.productname,t.category)>Add to Cart</button><br><br>
  </div>
  
  
</div>

<ng-template #anonymousUser>
  <a class="btn btn-danger text-light" routerLink="/login">Please Login to add to cart.</a>
</ng-template>

