<div class="container" style="margin-top: 20px">
  <h2>
    My Orders
  </h2><br>

  <div *ngFor = "let t of orders$ | async" class="card ml-5 mb-5">
    <div class="card-body">
      <h5 class="card-title">Order ID : {{ t.id }}</h5>
      <p class="card-text">Order Date : {{ t.date }}</p>
      <p class="card-text">Delivered to : {{ t.name }}</p>
      <p class="card-text">Address : {{ t.address }}</p>
      <!--This part intentionally commented out.-->
      <!--<p class="card-text">Products : {{ t.products | json }}</p>
      <code>
          <pre>{{ t.products | json }}</pre>
      </code>-->
      <button class="btn btn-primary" style="float: right" (click)="loadorders(t.id)">View Products</button>

    </div>
  </div>

</div>