<nav *ngIf="navbartoggle.display_navbar" class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <!-- Brand/logo
  <div class="navbar-brand d-inline-block align-top">
    <img src="assets/images/o.jpg" width="25" height="25" style="border-radius: 15%">  
  </div> -->
  
  <div class="">
    <a class="navbar-brand font-weight-bold" routerLink="/">
      OLSHOP
    </a>
  </div>

  <!--Login Link-->
  <ng-template #anonymousUser>
    <div class="mr-auto">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-outline-dark text-light" routerLink="/login">Log In</a>
      </li>
    </ul>
    </div>  
  </ng-template>

  <!--UserDropdown-->
  <div class="">
  <li *ngIf="auth.user$ | async as user; else anonymousUser" ngbDropdown class="nav-item" style="list-style: none">
    <a ngbDropdownToggle class="nav-link dropdown-toggle text-light"  id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.displayName }}</a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
        <a class="dropdown-item" routerLink="order-success">My Orders</a>
        <!--<a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
        <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>-->
        <a class="dropdown-item" style="cursor: pointer;" (click)=logout()>Logout</a>
      </div>
  </li>
  </div> 

  <button class="btn btn-light" routerLink="/shopping-cart">
    <img src="/assets/images/shoppingcart.svg" width="20">
  </button>

</nav><br><br>
