<div class="container"><br>

<div>
  <a>
    <img src="assets/images/lock.svg" width="35" height="35" style="float: left">
  </a>

  <h2>
    Log In
  </h2><br> 

  <button (click) = "login()" class="btn btn-default">
    <img src="/assets/images/google.svg" width="20">
    Login With Google
  </button> 
</div>

</div>