<div class="container" style="margin-top: 20px">

  <h3>Login</h3><br>

  <form #logintwo="ngForm" (ngSubmit)="logincheck(logintwo.value)">

    <div class="form-group">
      <label for="id" style="font-weight: bold">ID</label>
      <input #id="ngModel" ngModel name="id" id="id" type="text" class="form-control" required>
      <div class="alert alert-danger" *ngIf="id.touched && id.invalid">
        Required
      </div><br>
      <label for="id" style="font-weight: bold">Password</label>
      <input #pwd="ngModel" ngModel name="pwd" id="pwd" type="password" class="form-control" required>
      <div class="alert alert-danger" *ngIf="pwd.touched && pwd.invalpwd">
        Required
      </div>
    </div>

    <button class="btn btn-primary" [disabled]="logintwo.form.invalid">Submit</button>

  </form><br><br>

</div>