<div *ngIf="auth.user$ | async; else anonymousUser" class="container" style="margin-top: 20px">
  <div>
    <table class="table table-sm table-hover">
        <!--<thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>-->
        
        <tbody>
            <tr *ngFor = "let s of shoppingcart$ | async; let i = index">
                <td>{{ s.title }}</td>
                <td>
                    <button class="btn btn-primary btn-sm" *ngIf="s.quantity > 1" (click)="decrementqty(s.productname, s.quantity, s.price)">-</button>
                    {{ s.quantity }}
                    <button class="btn btn-primary btn-sm" *ngIf="s.quantity < 5" (click)="incrementqty(s.productname, s.quantity, s.price)">+</button>
                </td>
                <td>₹{{ s.price * s.quantity }}</td>
            </tr>
        </tbody>
    </table>
    <h4>Total is : {{ carttotal }}</h4>
</div>
<button *ngIf="show" class="btn btn-danger" (click) = "deletecart()">Clear Cart</button>
<a *ngIf="show" class="btn btn-primary text-light" style="float: right;" routerLink="/check-out">Check Out</a>
</div>

<div class="container">
    <ng-template #anonymousUser>
        <br><br>
        <h4>Please Login To Buy Products.</h4>
    </ng-template>
</div>
