<div class="container-fluid" style="margin-left: 0px; ">
  <br><br>
  <button class="btn btn-secondary btn-sm text-light" (click)=sort()>Sort by price low-high</button>
  
  <div class="row mt-5">
    <div *ngFor = "let t of productdata$ | async" class="card ml-5 mb-5" style="width: 18rem;">
      <img class="card-img-top" src="{{ t.imageUrl }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ t.title }}</h5>
        <p class="card-text">₹ {{ t.price }}</p>
        <!--<p class="card-text">{{ t.description }}</p>-->
      </div>
      <a class="btn btn-success text-light" (click)=viewthisproduct(t.category,t.productname) routerLink="/view-product">View Details</a><br>
      <a *ngIf="auth.user$ | async; else anonymousUser" class="btn btn-warning text-light" (click)=buyfunction(t.title,t.price,t.productname,t.category)>Add To Cart</a>
    </div>
  </div>
</div>

<ng-template #anonymousUser>
  <a class="btn btn-danger text-light" routerLink="/login">Please Login to add to cart.</a>
</ng-template>

