<div class="container" style="margin-top: 20px">
    <div>
      <h2>Products</h2><br> 
      <table class="table table-sm table-hover">
          <thead>
              <tr>
                  <th>Item</th>
                  <th>Quantity</th>
                  <th>Price</th>
              </tr>
          </thead>
          
          <tbody>
              <tr *ngFor = "let s of shipproduct$ | async">
                  <td>{{ s.title }}</td>
                  <td>{{ s.quantity }}</td>
                  <td>₹{{ s.price * s.quantity }}</td>
              </tr>
          </tbody>
      </table>
  </div>