<div *ngIf="contenttoggler.display_content" class="container" style="margin-top: 20px">
    <p>
        <a routerLink="/admin/products/new" class="btn btn-primary">Add New Products</a>
    </p>

    <p>
        <a routerLink="/login/elv" style="float: right;" class="btn btn-alert" (click)=logout()>Log Out</a>
    </p>

    <div><h3>Books</h3></div>
    <div>
        <table class="table table-sm table-hover">
            <thead class="thead-light">
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor = "let b of books$ | async; index as i">
                    <td>{{ i+1 }}</td>
                    <td>{{ b.title }}</td>
                    <td>{{ b.price }}</td>
                    <td>
                        <button (click)=deletefunction(b.productname,b.category) class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div><h3>Fashion</h3></div>
    <div>
        <table class="table table-sm table-hover">
            <thead class="thead-light">
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor = "let f of fashion$ | async; index as i">
                    <td>{{ i+1 }}</td>
                    <td>{{ f.title }}</td>
                    <td>{{ f.price }}</td>
                    <td>
                            <button (click)=deletefunction(f.productname,f.category) class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div><h3>Office</h3></div>
    <div>
        <table class="table table-sm table-hover">
            <thead class="thead-light"> 
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor = "let o of office$ | async; index as i">
                    <td>{{ i+1 }}</td>
                    <td>{{ o.title }}</td>
                    <td>{{ o.price }}</td>
                    <td>
                            <button (click)=deletefunction(o.productname,o.category) class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div><h3>Phones</h3></div>
    <div>
        <table class="table table-sm table-hover">
            <thead class="thead-light">
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor = "let p of phones$ | async; index as i">
                    <td>{{ i+1 }}</td>
                    <td>{{ p.title }}</td>
                    <td>{{ p.price }}</td>
                    <td>
                            <button (click)=deletefunction(p.productname,p.category) class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div><h3>Tools</h3></div>
    <div>
        <table class="table table-sm table-hover">
            <thead class="thead-light">
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor = "let t of tools$ | async; index as i">
                    <td>{{ i+1 }}</td>
                    <td>{{ t.title }}</td>
                    <td>{{ t.price }}</td>
                    <td>
                            <button (click)=deletefunction(t.productname,t.category) class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
