<div *ngIf="contenttoggler.display_content; else notloggedin" class="container" style="margin-top: 20px">
  <h3>Orders for shipping</h3>

  <p>
    <a class="btn btn-primary btn-sm" routerLink="/login/elv" style="float: right;" class="btn btn-alert" (click)=logout()>Log Out</a>
  </p>

  <br>
  <!--
  <form #seller="ngForm" (ngSubmit)="sellerfunction(seller.value.sellername)">

    <div class="form-group">
      <label for="sellername" style="font-weight: bold">Enter Seller ID</label>
      <input #sellername="ngModel" ngModel name="sellername" id="sellername" type="text" class="form-control" required>
      <div class="alert alert-danger" *ngIf="sellername.touched && sellername.invalid">
        Required
      </div>
    </div>

    <button class="btn btn-primary" [disabled]="seller.form.invalid">Submit</button>

  </form><br><br>-->

  <table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Order ID</th>
            <th>Deliver To</th>
            <th>Location</th>
            <th>Date</th>
            <th>View</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor = "let s of shipping$ | async; index as i">
            <td>{{ i+1 }}</td>
            <td>{{ s.id }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.city }},{{ s.state }}</td>
            <td>{{ s.date }}</td>
            <td><button class="btn btn-primary btn-sm" (click)=showorder(s.id)>
              View Products
            </button></td>
        </tr>
    </tbody>
  </table>

</div>

<ng-template #notloggedin>

  <h3>Not Logged In !</h3>

</ng-template>