<div *ngIf="contenttoggler.display_content; else notloggedin" class="container" style="margin-top: 20px">

<div class="row">

  <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="save(f.value)"> 

          <div class="form-group">
            <label for="productname" style="font-weight: bold">Product Name</label>
            <input #productname="ngModel" ngModel name="productname" id="productname" type="text" class="form-control" required>
            <div class="alert alert-danger" *ngIf="productname.touched && productname.invalid">
              Product Name Required
            </div>
          </div>

          <div class="form-group">
            <label for="title" style="font-weight: bold">Title</label>
            <input #title="ngModel" ngModel name="title" id="title" type="text" class="form-control" required>
            <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
              Title Required
            </div>
          </div>
        
          <div class="form-group" style="font-weight: bold">
              <label for="price">Price</label>
              <div class="input-group">
                <span class="input-group-addon">₹</span>
                <input #price="ngModel" ngModel name="price" id="price" type="number" class="form-control" required>
              </div>
              <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                  Price Required
                </div>
          </div>
        

          <div class="form-group">
            <label for="description" style="font-weight: bold">Product Description</label>
            <input #description="ngModel" ngModel name="description" id="description" type="text" class="form-control" required>
            <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
              Description Required
            </div>
          </div>


          <div class="form-group" style="font-weight: bold">
              <label for="category">Category</label>
              <select #category="ngModel" ngModel name="category" id="category" class="form-control" required>
                <option *ngFor="let c of categories$ | async" [value]="c.name"><!--Changed c.$key to c.name here to get value in dropdown-->
                  {{ c.name }}
                </option>
              </select>
              <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                  Category Required
                </div>
          </div>
        
          <div class="form-group" style="font-weight: bold">
              <label for="imageUrl">Image URL</label>
              <input #imageUrl="ngModel" ngModel name="imageUrl" id="imageUrl" type="text" class="form-control" required>
              <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                  Required
              </div>
          </div>
        
          <button class="btn btn-primary" [disabled]="f.form.invalid">Save</button>
        </form>
  </div>

  <div class="col-md-6">
    <br>
    <p><b>Preview</b></p>
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" [src]="imageUrl.value" >
          <div class="card-body">
            <h5 class="card-title">{{ title.value }}</h5>
            <p class="card-text">{{ price.value | currency: 'INR':true }}</p>
            <p class="card-text">{{ description.value }}</p>
          </div>
        </div>
  </div>
</div>

</div>

<ng-template #notloggedin>

    <h3>Not Logged In !</h3>
  
  </ng-template>