<div class="container" style="margin-top: 20px">

  <h2>Check Out</h2>
  <form #cart="ngForm" (ngSubmit)="checkout(cart.value)"> 

    <div class="form-group">
      <label for="username" style="font-weight: bold">Name</label>
      <input #username="ngModel" ngModel name="username" id="username" type="text" class="form-control" required>
      <div class="alert alert-danger" *ngIf="username.touched && username.invalid">
        Name Required
      </div>
    </div>

    <div class="form-group">
      <label for="address" style="font-weight: bold">Address Line</label>
      <input #address="ngModel" ngModel name="address" id="address" type="text" class="form-control" required>
      <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
        Address Required
      </div>
    </div>
  
    <div class="form-group">
      <label for="city" style="font-weight: bold">City</label>
      <input #city="ngModel" ngModel name="city" id="city" class="form-control" required>
      <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
          City Required
      </div>
    </div>

    <div class="form-group">
      <label for="state" style="font-weight: bold">State</label>
      <select #state="ngModel" ngModel name="state" id="state" class="form-control" required>
        
        <option value="AP">Andhra Pradesh</option>
        <option value="ArunachalP">Arunachal Pradesh</option>
        <option value="Assam">Assam</option>
        <option value="Bihar">Bihar</option>
        <option value="Chhattisgarh">Chhattisgarh</option>
        <option value="Goa">Goa</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="HP">Himachal Pradesh</option>
        <option value="JandK">Jammu and Kashmir</option>
        <option value="Jharkhand">Jharkhand</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Kerala">Kerala</option>
        <option value="MP">Madhya Pradesh</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Manipur">Manipur</option>
        <option value="Meghalaya">Meghalaya</option>
        <option value="Mizoram">Mizoram</option>
        <option value="Nagaland">Nagaland</option>
        <option value="Odisha">Odisha</option>
        <option value="Punjab">Punjab</option>
        <option value="Rajasthan">Rajasthan</option>
        <option value="Sikkim">Sikkim</option>
        <option value="TN">Tamil Nadu</option>
        <option value="Telangana">Telangana</option>
        <option value="Tripura">Tripura</option>
        <option value="UP">Uttar Pradesh</option>
        <option value="Uttarakhand">Uttarakhand</option>
        <option value="WB">West Bengal</option>
      </select>

      <div class="alert alert-danger" *ngIf="state.touched && state.invalid">
          State Required
      </div>
    </div>

    <button class="btn btn-primary" [disabled]="cart.form.invalid">Place Order</button>
  </form>

</div>