<div *ngIf="contenttoggler.display_content; else notloggedin" class="container" style="margin-top: 20px">

  <h3>Orders for you</h3><br><br>

  <div *ngFor = "let t of selleri$ | async" class="card ml-5 mb-5">
      <div class="card-body">
          <h5 class="card-title">Order ID : {{ t.id }}</h5>
          <p class="card-text">Order Date : {{ t.date }}</p>
          <p class="card-text">Customer Name : {{ t.name }}</p>
          <p class="card-text">Address : {{ t.city }}, {{ t.state }}</p>
          <button class="btn btn-primary" style="float: right" (click)="fetchsellerproduct(t.id)">View Products</button>
        </div>
  </div>

</div>

<ng-template #notloggedin>

    <h3>Not Logged In !</h3>
  
  </ng-template>