<div class="container" style="margin-top: 40px">
  
    <!--Rendering the ng carousel-->
    <div class="card w-100 text-center" style="width: 18rem;">
      <ngb-carousel style="height: fit-content;">
        <ng-template ngbSlide>
          <img src="/assets/images/carouselone.jpg" alt="Random first slide">
          <div class="carousel-caption">
            <h3>Change Your World,</h3>
            <h4>One Page At A Time</h4>
            <p>Find the best deals on bestsellers here.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="/assets/images/carouseltwo.jpg" alt="Random second slide">
          <div class="carousel-caption">
            <h3>A Style For Every Story</h3>
            <p>Find your style at attractive prices.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="/assets/images/carouselthree.jpg" alt="Random third slide">
          <div class="carousel-caption">
            <h3>The One</h3>
            <h4>You've Been Waiting For</h4>
            <p>Find the best deals on smartphones here.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="/assets/images/carouselfour.jpg" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Free Shipping</h3>
            <p>Guaranteed</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <br><br>

    <div class="card text-center">
        <div class="card-header"><b>Featured</b></div>
        <div class="container" style="width: 18rem;">
          <img class="card-img-top text-center" style="height:auto; width:60%" src="https://cdn.waterstones.com/bookjackets/large/9781/4721/9781472121134.jpg">
        </div>
    </div>
    <br>

    <ul class="nav">
      
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" (click)="typeisbooks()">View More Books</a>
        </li>
        
    </ul><br>

    <h3 style="text-align: center">Browse Categories</h3><br><br>

    <!--card for books-->
    <div>
      <div class="card w-100 text-center" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/bookshome.jpg">
        <div class="card-body">
          <!--<h5 class="card-title">Books</h5>
          <p class="card-text"></p>-->
          <button type="button" class="btn btn-primary" routerLink="/products" (click)="typeisbooks()">Explore Books</button>
        </div>
      </div>
    </div>
    <br><br>
    <!--card for fashion-->
    <div>
      <div class="card w-100 text-center" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/fashionhome.jpg">
        <div class="card-body">
          <!--<h5 class="card-title">Fashion</h5>
          <p class="card-text"></p>-->
          <button type="button" class="btn btn-primary" routerLink="/products" (click)="typeisfashion()">Explore Fashion</button>
        </div>
      </div>
    </div>
    <br><br>
    <!--card for office-->
    <div>
      <div class="card w-100 text-center" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/officehome.jpg">
        <div class="card-body">
          <!--<h5 class="card-title">Office Supplies</h5>
          <p class="card-text"></p>-->
          <button type="button" class="btn btn-primary" routerLink="/products" (click)="typeisoffice()">View Products</button>
        </div>
      </div>
    </div>
    <br><br>
    <!--card for phones-->
    <div>
      <div class="card w-100 text-center" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/phonehome.jpg">
        <div class="card-body">
          <!--<h5 class="card-title">Phones</h5>
          <p class="card-text"></p>-->
          <button type="button" class="btn btn-primary" routerLink="/products" (click)="typeisphones()">Explore Phones</button>
        </div>
      </div>
    </div>
    <br><br>
    <!--card for tools-->
    <div>
      <div class="card w-100 text-center" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/toolshome.jpg">
        <div class="card-body">
          <!--<h5 class="card-title">Tools</h5>
          <p class="card-text"></p>-->
          <button type="button" class="btn btn-primary" routerLink="/products" (click)="typeistools()">Explore Tools</button>
        </div>
      </div>
    </div>
    <br><br>
    <ul class="nav">
      <!--
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/products">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/seller/orders">Seller</a>
      </li>
      -->
      <li class="nav-item" style="float: right">
        <a class="nav-link" routerLink="/login/elv">Other</a>
      </li>
      
    </ul>
    <br><br>
  </div>